{:paths          ["."]
 :deps           {}
 :min-bb-version "0.4.0"
 :tasks
 {outdated
  {:doc  "Checks for outdated dependencies."
   :task (clojure "-Sdeps '{:deps {org.slf4j/slf4j-nop {:mvn/version \"2.0.7\"} com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}' -M -m antq.core")}}}
