{:paths
 ["src"]
 :deps
 {net.thisptr/jackson-jq                      {:mvn/version "1.0.0-preview.20210610"}
  com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.12.5"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "classes" "test" "test/resources"]
   :extra-deps  {org.clojure/tools.deps.alpha {:mvn/version "0.12.1030"
                                               :exclusions  [org.slf4j/slf4j-log4j12
                                                             org.slf4j/slf4j-api
                                                             org.slf4j/slf4j-nop]}
                 criterium/criterium          {:mvn/version "0.4.6"}}}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "e7660458ce25bc4acb4ccc3e2415aae0a4907198"}}
   :main-opts   ["-m" "cognitect.test-runner"]}
  :clj-kondo
  {:main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]
   :extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.08.06"}}
   :jvm-opts   ["-Dclojure.main.report=stderr"]}
  :cli
  {:extra-paths ["cli" "classes" "resources"]
   :extra-deps  {org.clojure/tools.cli {:mvn/version "1.0.206"}}}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}}
   :ns-default build}}}
