{:paths
 ["src"]
 :deps
 {net.thisptr/jackson-jq {:mvn/version "1.0.0-preview.20230409"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "classes" "test" "test/resources"]
   :extra-deps  {org.clojure/tools.deps.alpha {:mvn/version "0.15.1244"
                                               :exclusions  [org.slf4j/slf4j-log4j12
                                                             org.slf4j/slf4j-api
                                                             org.slf4j/slf4j-nop]}
                 criterium/criterium          {:mvn/version "0.4.6"}}}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
   :main-opts   ["-m" "cognitect.test-runner"]}
  :clj-kondo
  {:main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]
   :extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.10.14"}}
   :jvm-opts   ["-Dclojure.main.report=stderr"]}
  :cli
  {:extra-paths ["cli" "classes" "resources"]
   :extra-deps  {org.clojure/tools.cli {:mvn/version "1.0.214"}}}
  :build
  {:deps        {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
   :extra-paths ["build"]
   :ns-default  build
   :jvm-opts    ["-Dclojure.main.report=stderr" "-Dclojure.compiler.direct-linking=true"]}
  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
   :exec-fn      deps-deploy.deps-deploy/deploy
   :exec-args    {:installer :remote
                  :pom-file  "target/classes/META-INF/maven/lt.jocas/clj-jq/pom.xml"
                  :artifact  "target/clj-jq.jar"}}}}
